.order-details {
  height: 100%;
  overflow-y: auto;
}

.order-info {
  margin-bottom: 1rem;
}

.order-summary {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 1rem;
  border-radius: 4px;
}

.order-notes {
  background-color: rgba(0, 0, 0, 0.02);
  padding: 1rem;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .order-details {
    height: auto;
    margin-top: 1rem;
  }
} 